@charset "utf-8";
/* 1.变量、注释和运算 */
/*CSS的注释编译时会保留*/
/*var_demo1*/
.box {
  width: 400px;
  height: 200px;
  background: red;
}
.switchColor {
  color: #222222;
}
/*var_demo2*/
#homeDiv #centerDiv {
  width: 30px;
}
#leftDiv {
  width: 20px;
}
/*2.混合与嵌套*/
/* Mixins_demo1 */
.box3 {
  width: 400px;
  height: 200px;
  background: red;
  margin-left: 100px;
}
/* Mixins_demo2 */
.test_mix1 {
  border: solid blue 5px;
}
.test_mix2 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 100px;
  height: 20px;
  background: pink;
}
.test_arg {
  box-shadow: 2px 2px 3px #f36;
}
#mynamespace .home {
  background: #ccc;
}
#mynamespace .user {
  text-align: center;
  color: #333;
}
.test_namespace {
  text-align: center;
  color: #333;
  font-size: 12px;
}
/* 3.嵌套的规则 */
.list {
  width: 600px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
}
.list li {
  height: 30px;
  line-height: 30px;
  background: pink;
  margin-bottom: 3px;
  padding: 0 10px;
}
.list a {
  float: left;
}
.list a:hover {
  color: red;
}
.list span {
  float: right;
}
/* 4.匹配模式*/
.sanjiao {
  border-color: transparent black transparent transparent;
  border-width: 10px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-style: solid;
}
/*6、避免编译
作者： _Run_ 
链接：http://www.imooc.com/article/16455?block_id=tuijian_wz
链接：http://cuiqingcai.com/1760.html
来源：慕课网*/
.test_avoid {
  width: (300px-100px);
}
