@charset "utf-8";
.mythemes {
  border: 1px solid #b5bcc7;
}
#homeDiv #centerDiv {
  width: 30px;
}
#leftDiv {
  width: 20px;
}
#leftDiv3 {
  width: 20px;
  border-radius: 5px;
}
a {
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
